.media {
    display: flex;
    align-items: center;
}

.media-object{
    margin: 15px;
}

body{
    display: flex;
    flex-direction: column;
    color: white;
}

header, footer{
    height: 50px;
}

.main{
    flex-direction: column;
    justify-content: space-around;
    background-color: #000033;
}

header{
    display: flex;
    background-color: #330066;
    align-items: center;
    justify-content: space-between;
}

nav{
    margin-left: 20px;
}

aside{
    margin-right: 20px;
}

footer{
    background-color: #333366;
}